@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Sans-Serif;
}

body, html {
  height: 100%;
  width: 100%;
  color: white;
}
.topbar {
  height: 70px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 15px;
  top: 0;
  position: fixed;
  z-index: 2;
  background: rgb(0 80 69);
}
.logo {
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 50%;
}
.tleft {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.mainlayout {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.sidebar {
  left: 0;
  height: 100%;
  width: clamp(230px, 20vw, 450px);
  border-radius: 0 5px 5px 0;
  padding: 15px;
  background-color: rgb(28 53 48);
  position: fixed;
}
.mainside {
  margin-bottom: 30px;
  min-height: 130px;
}
.otherside {
  height: 100px;
}
.mainside li, .otherside li {
  padding: 3px 0 3px 10px;
  margin: 4px 0;
  border: solid 1px white;
  border-radius: 5px;
}
.sidebar li {
  list-style: none;
}
.maingrid {
  display: grid;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-left: clamp(150px, 20vw, 450px);
  background: rgb(2 107 93);
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 7.07% 20.20% 36.36% 36.36%;
  grid-template-areas:
  "toko toko toko toko"
  "g1 g2 g3 g4"
  "g5 g5 g6 g6"
  "g7 g7 g8 g8"
  ;
}
.toko {grid-area: toko;}
.g1 { grid-area: g1;}
.g2 { grid-area: g2;}
.g3 { grid-area: g3;}
.g4 { grid-area: g4;}
.g5 { grid-area: g5;}
.g6 { grid-area: g6;}
.g7 { grid-area: g7;}
.g8 { grid-area: g8;}

.grid {
  margin: 5px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,0.5);
  flex-wrap: wrap;
}
.toko{
  align-items: center;
  display: flex;
  padding: 0 0 0 3em;
  font-size: 10px;
}
.swpbtn {
  display: none;
}
.grid {
  transition: opacity 0.3s ease-in-out;
  padding: 10px;
}
.burger {
  display: none;
}
#linechart {
  height: 100%;
  width: 100%;
  z-index: 60;
}
.g7, .g6{
  height: calc(100% -5px);
  border: solid 5px cyan;
  display: flex;
  /* overflow-y: auto; */
}
.g7ab, .g6ab{
  max-height: 200px;
  width: 100%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  border: solid 9px white;
  /* Bawah ini untuk menghilangkan scroll bar */
    /* scrollbar-width: none;  */

}
.g7t, .g6t{
  width: 100%;
  height: 60px;
  border:solid 2px white;
  position: sticky;
}
.g7t h4, .g6t h4{
  align-items: center;
  justify-content: center;
}
.riwayatc, .productc{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
.riwayat, .product{
  width: 100%;
  height: 30px;
  margin-top: 5px;
  border: solid 3px black;
}
@media screen and (max-width: 1050px){
  .sidebar {
    left: 0;
    transform: translateX(-110%);
    position: fixed;
    z-index: 3;
    height: 100%;
    transition: 0.3s ease-in-out;
  }
  .sidebar.active {
    transform: translateX(0);
  }
  .mainlayout {
    min-height: 100%;
  }
  .maingrid {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 55px 200px 200px 35px 300px 35px 300px;
    grid-template-areas: 
    "toko toko"
    "g1 g2"
    "g3 g4"
    "gst gst"
    "g5 g5"
    "gsb gsb"
    "g7 g7";
    min-height: 100%;
    margin-left: 0;
  }
  .g5, .g6 {
    grid-area: g5;
  }
  .cviewp {
    opacity: 1 !important;
  }
  .hviewp {
    opacity: 0 !important;
  }
  .g7, .g8 {
    grid-area: g7;
    /* height: 500px; */
  }
  .g7ab {
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
  }
  .g7ab::-webkit-scrollbar {
  display: none;
    }
  .swpbtn1 {
    grid-area: gst;
  }
  .swpbtn2 {
    grid-area: gsb;
  }
  .swpbtn {
    display: flex;
    justify-content: right;
    padding-right: 10px;
    z-index: 80;
  }
  .swap {
    border-radius: 4px;
    background: rgba(0,0,0,0.000001);
    width: 35px;
    height: 30px;
  }
  .burger {
    height: 40px;
    min-width: 40px;
    border: solid 1px black;
    position: relative;
    display: block;
  }
  .burger span {
    background: white;
    width: 35px;
    height: 5px;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: 0.19s ease-in-out;
  }
  .burger span:nth-child(1) {
    top: 25%;
    position: absolute;
  }
  .burger span:nth-child(3){
    top: 75%;
    position: absolute;
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 1;
  }
  .burger.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 1;
  }
}