# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (kalau nanti pakai)
.env

# Data lokal (kalau berisi data sensitif)
# data/*.json

# Backup or temp files
*.tmp
*.bak
*.swp

# System files
.DS_Store
Thumbs.db