@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Montserrat",Sans-Serif;
}
:root {
   --color-1 : #34D399;
   --color-2 : #34D399;
   --color-3 : #E0E7ED;
   --color-4 : #9CA3AF;
   --color-5 : #1F2E3D;
   --color-6 : #121A21;
   --color-7 : #2A3A4A;
   --color-8 : #FBBF24;
   
}
body, html {
   height: 100%;
   width: 100%;
   overflow: auto;
   background-image: url('bege.jpg');
   background-color: rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.topbar {
   height: clamp(50px, 4vw, 80px);
   width: 100%;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   display: flex;
   position: sticky;
   background-color: rgb(46,62,84,0.5);
}
.topbar h4 {
   height: clamp(7%, 8vh, 9%);
   align-items: center;
   display: flex;
   gap: 10px;
}
.mainlayout {
   display: flex;
   height: 100%;
   width: 100%;
}
.sidebar {
   display: flex;
   flex-direction: column;
   border: solid 3px black;
   height: 100%;
   width: clamp(180px, 20vw, 800px);
   background-color: var(--color-5);
   padding: 15px 5px 10px 15px;
   list-style: none;
}
.logo {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   margin: 5px;
}
.mainmenu li, .othermenu li {
   list-style: none;
   padding: 8px 10px;
   border: solid 1px black;
   border-radius: 7px;
   margin: 10px;
   font-size: clamp(15px, 1vw, 20px);
}
.mainmenu {
   gap: 5px;
   margin: 0 0 4em 0;
}
.upmainbar {
   display: flex;
   height: 100%;
   width: 100%;
   position: relative;
}
.mainbar {
   width: 100%;
   height: 100%;
   padding: clamp(5px, 18vw, 10px);
   display: grid;
   grid-template-columns: repeat(4, 25%);
   grid-template-rows: 9.09% repeat(5, 18.18%);
   grid-template-areas: 
   "h1 h1 h1 h1"
   "g1 g2 g3 g4"
   "g5 g5 g6 g6"
   "g5 g5 g6 g6"
   "g7 g7 g8 g8"
   "g7 g7 g8 g8"
   ;
}
   .ha1 {grid-area: h1;}
   .grid1 {grid-area: g1;}
   .grid2 {grid-area: g2;}
   .grid3 {grid-area: g3;}
   .grid4 {grid-area: g4;}
   .grid5 {grid-area: g5;}
   .grid6 {grid-area: g6;}
   .grid7 {grid-area: g7;}
   .grid8 {grid-area: g8;}

#grid {
   border-radius: 15px;
   backdrop-filter: blur(20px) saturate(200%);
   box-shadow: 0 0 8px rgba(255,255,255,0.4);
   margin: 10px;
}


.ha1 {
   display: flex;
   align-items: center;
   padding: 0 0 0 3em;
   font-size: clamp(10px, 2vw, 25px);
}
@media screen and (max-width: 1050px) {
   .sidebar {
       position: fixed;
       top: 0;
       left: 0;
       height: 100%;
       width: clamp(180px, 60vw, 300px);
       background-color: var(--color-5);
       transform: translateX(-100%); /* sembunyikan */
       z-index: 90;
       transition: transform 0.3s ease;
     }

     .sidebar.active {
    transform: translateX(0); /* tampilkan saat di klik */
     }
   .mainbar {
      grid-template-areas: 
      "h1 h1"
      "g1 g2"
      "g3 g4"
      "g5 g5"
      "g6 g6"
      "g7 g7"
      "g8 g8";
   grid-template-columns: 50% 50%;
   grid-template-rows: 55px 200px 200px repeat(4, 300px);
   padding: 5px;
   }
   #grid {
      margin: clamp(5px, 8vw, 8px);
   }
   .humburger {
      order: 1;
      z-index: 100;
   }
   .topbar h4 {
      order: 2;
   }
   }
