.maingrid {
  display: grid;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-left: clamp(150px, 20vw, 450px);
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 7.07% 46.465% 46.465%;
  grid-template-areas:
  "toko toko"
  "g5 g6"
  "g7 g8"
  ;
}
.toko {grid-area: toko;}
.g5 { grid-area: g5;}
.g6 { grid-area: g6;}
.g7 { grid-area: g7;}
.g8 { grid-area: g8;}

.grid {
  margin: 5px;
  border-radius: 15px;
  backdrop-filter: blur(10px) saturate(150%);
  flex-wrap: wrap;
  border: solid 2px rgba(186,186,186,0.405);
}
.toko{
  align-items: center;
  display: flex;
  padding: 0 0 0 3em;
  font-size: 10px;
}
.swpbtn {
  display: none;
}
.grid {
  transition: opacity 0.3s ease-in-out;
  padding: 10px;
}
.burger {
  display: none;
}
#linechart {
  height: 100%;
  width: 100%;
  z-index: 60;
}
.g7, .g6{
  height: calc(100% - 10px);
  display: flex;
  overflow-y: auto;
}
.g7ab, .g6ab{
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.g7t, .g6t{
  width: 100%;
  height: 60px;
  position: sticky;
}
.g7t h4, .g6t h4{
  align-items: center;
  justify-content: center;
}
.riwayatc, .productc{
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
.riwayat, .procuct{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: solid 1px rgba(186,186,186,0.305);
  display: flex;
  align-items: center;
  border-radius: 10px;
}
@media screen and (max-width: 1160px) {
  .maingrid {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 7% minmax(30px, 50px) 46.5% minmax(30px, 50px) 46.5%;
    grid-template-areas: 
    "toko toko"
    "gst gst"
    "g5 g5"
    "gsb gsb"
    "g7 g7";
    height: 100%;
    margin-left: 0;
  }
  .g5, .g6 {
    grid-area: g5;
  }
  .cviewp {
    opacity: 1 !important;
  }
  .hviewp {
    opacity: 0 !important;
    display: none !important;
  }
  .g7, .g8 {
    grid-area: g7;
  }
  .g7, .g6{
    overflow-y: auto;
  }
  .swpbtn1 {grid-area: gst; }
  .swpbtn2 {grid-area: gsb; }
  .swaps {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .swaps.hiding {
    opacity: 0;
  }
  .swpbtn {
    display: flex;
    justify-content: right;
    padding-right: 30px;
    align-items: center;
    background: transparent;l
  }
  .swap {
    border-radius: 4px;
    background: rgba(0,0,0,0.000001);
    width: 35px;
    height: 30px;
    background: rgba(133,133,133,0.805);
  }
}